{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock extra_headers %}

{% block content %}
    <h3>test in detail</h3>
    <h2>{{ product.name }}</h2>
    <small>{{ product.created }}</small>
    <p>{{ product.price }} $</p>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="detail-img">
    <p>{{ product.description|safe}}</p>
    <br><br>

    <form action="{% url 'orders:cart_item_add' product.id %}" method="post" novalidate>
        {% csrf_token %}
        {{ form}}
        <input value="add" type="submit">
    </form>
{% endblock %}