{% extends 'base.html' %}


{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">total Price</th>

        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                    <td><a href="{% url 'orders:cart_item_remove' item.product_id %}">Remove</a></td>
                </tr>
            {% endfor %}
            
            {% if cart.is_epmty %}
                <p class="text-center">cart is empty</p>
            {% else %}
                <tr>
                    <td>Total</td>
                    <td colspan="3"></td>
                    <td>{{ cart.total_price }}</td>
                    <td colspan="1"></td>
                </tr>
                <br>
                <a href="{% url 'orders:orders_create' %}" class="btn btn-primary">Checkout</a>

            {% endif %}

        </tbody>
    </table>

{% endblock content %}